.grid{
    width: 100%;
    display: block;
}
.grid.wide{
    max-width: 1200px;
    margin: auto;
}
/* Tablet */
@media (min-width: 740px) and (max-width:1023px){
    .wide{

    }
}
/* PC low resolution */
@media (min-width: 1023px) and (max-width: 1239px) {
    .wide{

    }
}